@{
    ViewData["Title"] = "Тест";
}



<div class="container" style="justify-content: center ">
    <div id="Filter" style="max-width: 100%">

        <div class="row">
            <div class="col-2 pt-2">
                <form action="~/Home/CreatePage">
                    <button type="submit" id="ButtonAdd" style="height: 38px;" class="btn-sm btn-primary">Добавить заказ</button>
                </form>
            </div>
        </div>

        

        <div class="row">
            <div class="col-2 pt-2">
                <form action="~/Home/ViewingPage">
                    <button type="submit" id="ButtonTable" style="height: 38px;" class="btn-sm btn-primary">таблица с заказами</button>
                </form>
            </div>
        </div>

    </div>
</div>


